<a href="https://colab.research.google.com/github/isaac-debug/Data-Science/blob/main/Group10%E7%96%AB%E6%83%85%E5%B0%8D%E5%AE%9C%E8%98%AD%E6%88%BF%E5%83%B9%E5%BD%B1%E9%9F%BF%E4%B9%8B%E5%9B%A0%E6%9E%9C%E6%8E%A8%E8%AB%96.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## 組別G10：
陳季翔 楊承諺 洪大甯 傅楚昀
## 摘要：
我們看到商業週刊有一篇專欄指出，宜蘭縣的房市受到疫情的影響，特定房屋類型有便熱絡地型情發生。因此我們透過python爬蟲取得30萬筆房市實價登陸的資料，並另外收集會影響房市的總體變數。經過資料篩選與清理雜訊後，將分類過的不同房屋型的資料利用sklearn的regression modeling跑回歸分析以及機器學習，再將其分析結果製表

## 研究動機
商業週刊：宜蘭房市行情
疫情讓宜蘭特定房子類型
賣得特別好，真有其事？
是否會影響房價？
透過觀察成交量和房價，
以及回歸分析觀察疫情對
宜蘭房市的影響

## 研究方法
1. matplotlib資料視覺化
2. statsmodel回歸分析
3. 計量經濟學分析

## 資料收集

### 實價登錄

In [ ]:
import requests
import pandas as pd
total_data = []
taipei_data = []
yilan_data = []
# 106-1 ~ 110-11
# 三星 918
url = 'https://lvr.land.moi.gov.tw/SERVICE/QueryPrice/cf0b0238c393daa027feb4cb749013e7?q=VTJGc2RHVmtYMTh3Ym41YTNnaGZsQmRTYW5oRHI2b2wrMVYraU41VTFFM3lEay9ERW0zcFdXczVMSm83eGNVc1BBVzFsUHprNnpwYU1LUS9Ncnk5QitKeExVRzRzdDFyOE1vRzB3V1h3SWNYc3h2c3BTV1lCcEs0SFNTVEovMHlhc2hwdGZCRDNVNW5NQUFJTWVUNHhRVS9oNEh1SEFNeWhsR2hJQ0NnRlRvanhjV1FRd3lVdDZUNWt4OVd0SHQ2bXU1UHYzdjVzcVUyaWRNTXByM3RueSs2c3J3OVJyZW9SaWd2ZHJoWm13N2ZoUlplckNneGZuSHNpb21TeWZZbDRndStXL0pISUpSRWRMT08za1NnUWJlK0NLcGFIb1N6c0JwM29hUS9KNzF0Wkt5Y2k3dWRmblFkMUFjZjJiL2p1UnBzVjlrS1VoNUVSNmN5RjhRSWtWNmRmZzRYQzY1Y2dnNzRFL0t3d25xKzVieDA5ODB6QzdxZHJpSkFLSjVDcXJvbWE0Qi9kc2VxeWdudFdPekUySURwMEdKYjRmS1o1TjNuY3E4dVFnYUY5bnFRQjNNaUJFVzNOK3JpOWVvU0ZVbS9KYnhNU2R5dHY5U1d1aXp6ZFJnb09abCtrMzljUFF4UXFvVTV1NTg9'
res = requests.get(url)
print(res)
print(len(res.json()))
ilan_1 = res.json()
ilan_data = ilan_1
total_data = total_data + ilan_1
print('total = ', len(total_data))
# 大同 7
url = 'https://lvr.land.moi.gov.tw/SERVICE/QueryPrice/bbd81fdd4dd2dfec5c178f604751cad7?q=VTJGc2RHVmtYMS9iU3ZieVl3TFQwZGdITVljSW1wTnZnWnFYODhZWERiK1BZY1ZMbUpXU29JWWFmbHdTclpNUkxYZmtwOUordnl5UlNiYXZyUGpRK2pucm1GZzhpNUZVSXlQTFpwaFpyWGlJckFsanNFUS9MMDhNWEY0c01YanYrZWlWMS9GeTdINDIrb21CTE9zRmdWa0M1bW0yelo2QlFRR2FaWTVSZURHZmYrcTBjVGRWR2g3ViszRGtBN05OVjA0OVF3RUhtZW93SHduN3NzMW5VRTI5OGlLajEvelVIYW5QVHVDWDVITXIzdGY4elZwekY1Q1NkZDZZUmtoSllCcEpFTkdxWlE4R0VpM0oyUzFqb3VNSS85NThPQ0ZNT0RyZ1Q1bmhyTS9SaHBqYkVNNFJlajMwRHVpaUJIS3ZyU0xUWndjMlZVNGZ6bmdVTkFkZnVGdmhnclBTWGpIUVpUSUd6alY1WFRlaHgyTy9SbUJzdE1icG1TUlhFTHBGQUFQUGFaTjhqTFNEUE4rNkNOR1FYTFZveTRZMSthS0F3ODFWeCszU2tVZmdoS2M0NTJhM01pWnVhQnk5WjNSK0tGc0JUVDVqVnVLb2RGVmlqOTNrdTUzenpRZlF1UWpzNDIxRExIZVlXUFU9'
res = requests.get(url)
print(res)
print(len(res.json()))
ilan_2 = res.json()
ilan_data = ilan_data + ilan_2
total_data = total_data + ilan_2
print('total = ', len(total_data))
# 五結 2,538
url = 'https://lvr.land.moi.gov.tw/SERVICE/QueryPrice/e495e2bfa1193defc11f3add08770ee8?q=VTJGc2RHVmtYMTlaaWpidElJYUU0YnpHVjQvRkNIOE95RXptNzRtMHV1aVZVKytTU0plY1hhNkU5b0h3OXd5aGo1V2F2M1dVQ0JtbUhIZkE4NTdBVmpLKzNaVHVJWjhyQTdpNWU2WW9TZG1FWnZEVGNzM3NhV3FaSGRzT21iWXJQVkQ0ejVKVCt4dVY4SC9sSWxIemRLNWtYdG5JMmVPUEo1cWhuczIrcXRwYnhOQmx1UEZ5TTJOTm5BZDZIOXB1b2tLeUV5MmRDa2s5MGc5YzVib3FGTDRDckc5VFNjdFlLL3JLNzhMRS8xN0dyTHd6cDJoRENtNENhQms3enAzUHFBcnU0UEZOY1dUZVhHR1JaWnN2Nzd4d1FwaHZhMEkxNXo2bm5lMzlmRUZvZDJXV3pTazU2elUzYUdFODFpS0JieUV5VWplWnpHZDRwSitidkVkYVh0MmJvL2taZXV4QmFOMHE1SGlxQTU1VVlXdENub09VR1dDMmdsVnNJdXZDbTArY0s0dnh4ZDB5bXk1ZnU1VXZhcDFtWFdJMzZ2Q21OWGJxcEFUM2M4M1RqMFh5RGRnYVpTNXp1Sm5MamZLYkM2S3VIM1RhWFl4QnEyd2Uzcjd6L0IyQ0RER3Y4eVQ2aDYyb3pLcWczcWM9'
res = requests.get(url)
print(res)
print(len(res.json()))
ilan_3 = res.json()
ilan_data = ilan_data + ilan_3
total_data = total_data + ilan_3
print('total = ', len(total_data))
# 冬山 2,489
url = 'https://lvr.land.moi.gov.tw/SERVICE/QueryPrice/4e4af353f90d80b7de28f122637936b4?q=VTJGc2RHVmtYMTlXcVJKbVJmK3I1ZVNtUGk5RmRvK3dHN1plREpNaWxtdExlY3I5Z3RSQWlwekxFckpZTVE1bHhIdGc1NExCLzM1MFRzK25CLzBDRHhWZmlGYVZya0t0UWJRL3RVNTlzdUloNk45WFU4elNJWFlqd3pNb28wM2JRU2JjclRNNExmZDNwd1FwU2FMZ1VNdU1tam52SmdOUVE0SS9Da1RoSG1NeXgrSy9Ib1Qvc1p4MFlCS21BSXNWSG9nTW5sUXQ2RTZoMWxNUzRiRGxTWHRjaHBwVjhkMnIrM2tLaHpHQXlBaFkvWkZyYkxTRXZxWEsxbXZkUnA3MVAxbVhNWjhZeEcxeVdqOUl6MnZhMnRyM3NaZ0Y2R2hHZ3NaQms5d2NYOFNDZWlqSllhOWhJemtvdVlOKzVvdVFkOWRObGFzY1A1enlXb2NGM1JrQ0l5V3pDL0s5SVI3UEFHNklXVHBCR24xNjlodC9MMEpnNXdTOEtTMmh2S3pZZm8vQTZIRkh1RGM2cDJlSmdoZ3MybXVDbVZXYnJSUFBkWk9BaitGSjRocDYwMFpFbDhxNUtwa2lyWkNMbnlKQmdKdFc1Y0tQVUV0VGJJcWxibExpTWJmbnA4Yk9DckNmUjhoM1lxZkdMM0k9'
res = requests.get(url)
print(res)
print(len(res.json()))
ilan_4 = res.json()
ilan_data = ilan_data + ilan_4
total_data = total_data + ilan_4
print('total = ', len(total_data))
# 壯圍 5,477
url = 'https://lvr.land.moi.gov.tw/SERVICE/QueryPrice/671565bce15d633e58141699647d2e4b?q=VTJGc2RHVmtYMTlIdkhCcFhVU25aV1JZbENETVYzUW1HSFZGUDJxZisrVDV6Y3hsUlI0ZjAreGV2dXlETkROL2c1b0hJbHNxa2d4UnI0d1pWaHJCQ2tzelU0SzV2MzVMRXJGODFGeWYyWmQ1eTJZRGhQejJoV2pFQ2JWUGtLY1kzTDNKdVVPYnE2ZHBtbVFXM3JYNmhwcjdxeW5iaXFIdUVTM3hLWXZKR2wxU2ZjV1lLSS9sR0VFcXNkVlRlalZtMUlzTnJJMVVXR0hJR1JEczNpQXByU2hoWW5raDlZUVN4bEVhekZHV2RoWmZIaWQvZTlrNDltaXVqTFV1cGxSUEZ4cCs0MkVFKzlQT3ZFZFhaME03MlJqZ0czeEtVeVNBVXBCZEgvQitLVnBNZDRiQ0NPYkNZNGZtT0tIR0I1TTVDNkhGK1ZQblB0blVIZ3NHWmdDYUcyWXdHTkFhSHFNWlUvcythdjdjNGV4Qk5iMVJybnV1WUJPc0ZOU09OUGZwem9OMTFZQlhyTHZaNnREazhvZ25XdC9wS2QrNmlHVEN1aE9JK1ZUSVNJaWFuYTFLeCtWK2s5ZkdkRmhJYlB2ci9uS0tscXE0eXpDY29CQyt1UHRLTHBjRE5BUmZIbFhhU1R5RTBTZktwYmc9'
res = requests.get(url)
print(res)
print(len(res.json()))
ilan_5 = res.json()
ilan_data = ilan_data + ilan_5
total_data = total_data + ilan_5
print('total = ', len(total_data))
# 宜蘭市
url = 'https://lvr.land.moi.gov.tw/SERVICE/QueryPrice/a3633b24b65c822934b616255be8fd56?q=VTJGc2RHVmtYMS9PdVZDS1k1TDBQNnJ0TDl4ZXR6TEJrTW03eTQraGgwa1dKODE1Wk9wMzQybU5VRk1Xc2Y0dlhERDROWEs1ZUg3Q2FxZUZXclAvcjlCYXNCci9NaUdtb0p6dXFEd3lpSkt2MldVVzZPMERKbmZDdHU3clR5OUMyelUxdENEM1VsOFROQWdqSGxodnlwdGlqdVRLNlVBazBQVThWYWUzV25RSlhEUVFMNFBSbXFCN3gzRmRwTTlyMHBnWDFOWnhoanlkaU9NRW1SSHUxWUo3U1UzS2tYV1R2ZHZTdUZpZlZBb0F1WWRHdHNZL2JkNi9DdUU2QjdWS1ZZQXZqQSs5RHlTQ0t0NEVjSVhPZHhNTS9sbzZFejZjZWpoYjMrclByMzlNMXpVQklUMXZ5QlpXOXFobzBLYWg5a1FxOEFSbXgzOURHcXcvVVZnUmNHU2NoLzlhRExlTktWTldXREppOC9EVFpySFI0TzZ0ZC9TZm5TQXE2b0hGSDQvdDRYd1RlM1ZaODlxRTRlangzek43cWhiQlhUSUQyTFpDV1FoVzhQcG55QllFejYwSUU2MW44NlV4VlJWMFh4dTNRTC80dWJKYllnMzFrRVlhZGdrUzJsd1B1NjlOVm12UXFsVGVhUWM9'
res = requests.get(url)
print(res)
print(len(res.json()))
ilan_6 = res.json()
ilan_data = ilan_data + ilan_6
total_data = total_data + ilan_6
print('total = ', len(total_data))
# 南澳 5
url = 'https://lvr.land.moi.gov.tw/SERVICE/QueryPrice/5936c33863b25c7f28a5b231f2f0c2ba?q=VTJGc2RHVmtYMTh3TjhZNnRsLy8zY1hZZVdnMWZ5Y21jK0ZiSk9kVW1vRWIvemdhUVNMTWF2bWwrdlVrRHJFanNhc1RRUTJmdE9HT3ZBY25KOFpPeVNpRDNkeVJGVGo0dUJXZ25PUTNJYUsyY1AxNmNBRWN2SGd2ZnJIT2VNMmJ1MW1HN25iT0c5Q2FiQjNnNzhCOTNSRWFOUmpOVVFWSUtpNGttVHU3d0t2Y09obmNtSXBjS1NFV253TktxZ20rVWMxci9SamdzU2EwZTRwUmMvZVA3d0dlSS9kV3FvRGg0Yjh6UG53TWJSaTZxMU5hdFBzaE1ZSnBIUUJRUXEwc1BJRTRPOWRzeWRyYnRPZHJpbUtrQmVnMUhRMXRDcWUrcERseGwwWFprakxRMEZFaHMrR3BFOHBlYUFpSUc3UExuSTlNWWJGWVdHT1lvNjJFeHB2bW1YTFE1aFRSS1d0UklmRklEQWVrOVlHcENuWFYxOXQzYmxqdDltS2FYVktPTDU4WWswc2hxNHdPQlhiQTgzRDBicUJwUGJVRmN1WTdlUGpJYkYrSzAzeWtuZ3IybXI5ODhHZWtCeXlzVVMza1J0ZTlObU5udk1wY0p0ak9yV1dlalZkNkh5VC9zNGhrRjhZeXFNZnA2TUE9'
res = requests.get(url)
print(res)
print(len(res.json()))
ilan_7 = res.json()
ilan_data = ilan_data + ilan_7
total_data = total_data + ilan_7
print('total = ', len(total_data))
# 員山 1162
url = 'https://lvr.land.moi.gov.tw/SERVICE/QueryPrice/0a9a9698a2d24aadb0496ea3ff78b247?q=VTJGc2RHVmtYMTlVUTI5ZzlBNmJXS012aEc4a2tJSkdhQlY3VTJ5akVPSWp4bUpHNXAzS3dhekU5dHBzSzc3WS90N2ZBbDdoYjBsWFFWZkh4b0NKcldBcjFvamJwSFc4ZllsQk9ib3lNL2JtdkNmWStoa2Y2ZFlxT2FERDNZbU5yYkg4bFloalltR3ZtejFUNjMzaS8vekxtNXg0T0JKbTlBWHZBbklId2trdU9NV1FvSEM2SlVndXhxNmtvYnFOZXVlVG9HWFZuaFhiYk4weG4zSkJkM3QyMERzMWpDWWlteFh2RmlyRjF5R1hwc0VZUTJVWnRoRnVjRGZoajF2dUh3dnhSaXBxMmRJNWdEU1o2ZHRZM1M4eFh4amdzWCtHMlhwZlI2TnVpVnlla3V3cE02bFJ0QkcxV09sMVZ2VHNUVXhxbGc4UWNybTFNUDdQNFc3Sm9mbGZpckpNdXVGK0JickpsMEE4YURVaExRdkRtaHFGMFh5RVhlNGxYMGxUYUpmRTZmREhNdVB3VkVkVjBmYmdWVkc3WnprS3RlZFc3NGwwNjVkY2o2cXFENGd3K3BjVkhyZDkyL3hBTVJ0ZGx6VEdsZDBKODZ1M0k4SGpMZ1UyY21PWXNtMnRLUC9uUmhuMVpNT0tCNXc9'
res = requests.get(url)
print(res)
print(len(res.json()))
ilan_8 = res.json()
ilan_data = ilan_data + ilan_8
total_data = total_data + ilan_8
print('total = ', len(total_data))
# 頭城 1154
url = 'https://lvr.land.moi.gov.tw/SERVICE/QueryPrice/6202f4c62a7b567a92e6295871a4791d?q=VTJGc2RHVmtYMS9WR2dUdFY0dkNqVmNNcFF4RTkzSXAvMytTRzN1V3dDWFVHU0tUeStsbmJaZEFIQlF0Q2MrYkVPTmF2M0tuWGI0OExHUmRZck5QUXJrVkJ4SkVwRkMxRXBhdWsxeW1PbHlFRGVCZU1wVGpQclBpR29uQzFOTUZmK2ZLNXMySlczbE9GL1crZVNnTDhLNFF6TzgzS3pyL04xUTZwWTFzVzBDK01BWmxzeVIrT0NFTXFpTy9UMWNSWW9BT3NyV3dXQUc2KzlJdTI3Y2dEZjZ5VFcwcDVpR3hzZm1aMFQ2cVI3TCtNazNNQXp3ZzV5N3Y0bDBnaTBlN2hOUjBKQWlwOEN5SVpGZzlESkVZUWViaTNxN3ZKTlB6SDNsOWw1VzJiNEtxRFpSYUxDbFRlNjJhdHVYWjVNZ1lKTnV2WVJabUtHMmFhaGRKTUt4MGNMT1VZR1JxVGhTUEt5b21DaDcyV0NyN1NmbCtRd3FkSjFRczZZMU5WZ0RVL2FxZ2FnaW1YVWdSb1BoMHFUc1pQMEtNdEgxVHdiZWVTZEJ4YzFkUkE2SzZ4aHN5N0lKbGRmY1RlUEtHSTRlMkxEdmYwUmFEMkYweE9Bc1FscnI1WUNKdzgxMFhFT2M0ZHl1MWNFbDkyWTQ9'
res = requests.get(url)
print(res)
print(len(res.json()))
ilan_9 = res.json()
ilan_data = ilan_data + ilan_9
total_data = total_data + ilan_9
print('total = ', len(total_data))
# 礁溪 2,903
url = 'https://lvr.land.moi.gov.tw/SERVICE/QueryPrice/96076a77e018caad3168d44149dfcf00?q=VTJGc2RHVmtYMTlXUml2a3BwRDR2cG15UGc1Mi9pUXdGNkpEQWhtdWVHSjRYaTJDK005UjVYZVU2UjBTbGZmSFNNbmFvUGNzUzVVdmc2U0lqMTMwUHVHSTZ6RTg2UGlVbXIvTklwSVdoL3lkYUIvZG42WTcySThyYUxrVDlYVXR6cXJyUWhhRXRra3lCdGY5TGQ3cWJYSmo0U2ZWclpBdmJ1eDJ6SkJseXFWdGo2RFJHWDJZQUtma3g4THBOZ1NiV3NWVEhYd2Z0OTVGMTBxQWhBWm9VQTlyKzhBN2FKbENMWE1Qei9MNEVLSzNUOERiblRJNFpFWHZSMTF5V05teklLSXY1S01GSkwrRzhCbUVuOEVSVnlXZ2ZZWkg5OXFndWp5d0dwVmRKYlpydHB6YXc0UHNJQmNxWm9LalpKSGt4cHJUUHo2dU9yOE9McE5GejNjNWh0clVJdXhWQmJadzNCb0RFVDVMZXRHbjZDREhYdzR6cHVQUnFNUFZwR3F1RGlKa2ZZYXhnZm56YjN1eXNxcWdsTlpqODNRNUQ4dkZFZjdTK0kyZ01UY250VGYwSFE2UGhTbWNkekVPcjdCYkhRZGpnT0JUZjJtV29NRThTZGJPaWNMVmJiZjdsNElOcndtQVNWQVNSbDQ9'
res = requests.get(url)
print(res)
print(len(res.json()))
ilan_10 = res.json()
ilan_data = ilan_data + ilan_10
total_data = total_data + ilan_10
print('total = ', len(total_data))
# 礁溪 2,903
url = 'https://lvr.land.moi.gov.tw/SERVICE/QueryPrice/96076a77e018caad3168d44149dfcf00?q=VTJGc2RHVmtYMTlXUml2a3BwRDR2cG15UGc1Mi9pUXdGNkpEQWhtdWVHSjRYaTJDK005UjVYZVU2UjBTbGZmSFNNbmFvUGNzUzVVdmc2U0lqMTMwUHVHSTZ6RTg2UGlVbXIvTklwSVdoL3lkYUIvZG42WTcySThyYUxrVDlYVXR6cXJyUWhhRXRra3lCdGY5TGQ3cWJYSmo0U2ZWclpBdmJ1eDJ6SkJseXFWdGo2RFJHWDJZQUtma3g4THBOZ1NiV3NWVEhYd2Z0OTVGMTBxQWhBWm9VQTlyKzhBN2FKbENMWE1Qei9MNEVLSzNUOERiblRJNFpFWHZSMTF5V05teklLSXY1S01GSkwrRzhCbUVuOEVSVnlXZ2ZZWkg5OXFndWp5d0dwVmRKYlpydHB6YXc0UHNJQmNxWm9LalpKSGt4cHJUUHo2dU9yOE9McE5GejNjNWh0clVJdXhWQmJadzNCb0RFVDVMZXRHbjZDREhYdzR6cHVQUnFNUFZwR3F1RGlKa2ZZYXhnZm56YjN1eXNxcWdsTlpqODNRNUQ4dkZFZjdTK0kyZ01UY250VGYwSFE2UGhTbWNkekVPcjdCYkhRZGpnT0JUZjJtV29NRThTZGJPaWNMVmJiZjdsNElOcndtQVNWQVNSbDQ9'
res = requests.get(url)
print(res)
print(len(res.json()))
ilan_11 = res.json()
ilan_data = ilan_data + ilan_11
total_data = total_data + ilan_11
print('total = ', len(total_data))
# 羅東 3,255 
url = 'https://lvr.land.moi.gov.tw/SERVICE/QueryPrice/8b788cb2114ec93b3434a2601fd57bd1?q=VTJGc2RHVmtYMTlxQzhOdFkrVEZoZ05uMmYrd2FacXF4L2hsclpQYy94Sm9WY2g5amtUb2FKYlBreWVuZFQydEx0bGkyNlhRSVlSQzdhNEZMWUlDRWZvVTFyRWh5OE9HV05yRXZvR2IyTE0xd1NUcU12anFab3NKRkJqbGRrc3pLRnBybHUxaFA3L2M0Z2hIaXhmaFlPbzg1R1JuZFZLK0hHcWFHZXd0dW5IMHpHYUlYa3AvL1Y3ckErekdRd0FZdzFIdDY5VTQvV3VuWmdZYmdRQ0xVL1BwVUFPMFpMQkxDYlV1NWJYZStYcytGb2FLRlVKSjRlL2FhdGFGVXJwSWoydmU2L1J6bVovWVpseEJmNzI2MVVDY3Y5UTFLaGZINnBkZ0pPWUl0ck1EM3hQanZLMGRXOEFIQUFJQlM5ZmhJbnU1VmZtM1VnWWE4emNYdHgrbFZSMG5kUDRtZTJISTRIN1dWL3F1V3FYRFFsNWh4VkFwS1FNTExtVHVGZ3VuNWw4QzJ5UXpadlRET1BWcTRPckNsZk5Ka2JGMmwzbnNOejhKeDlTZDBic0NvZ0ZhOUtLWDhoME15ZjhTWlhsRzExamtFeUMyRzJwTGRBZ2E0Ums3bFdiZ0tkTThxdzNtUWdBWGVpWW0zUUU9'
res = requests.get(url)
print(res)
print(len(res.json()))
ilan_12 = res.json()
ilan_data = ilan_data + ilan_12
total_data = total_data + ilan_12
print('total = ', len(total_data))
# 蘇澳 1,424
url = 'https://lvr.land.moi.gov.tw/SERVICE/QueryPrice/544d38e36aef2d4d6ed2e72a5fa668d0?q=VTJGc2RHVmtYMTlacloyRHZZZVRkcDBlV2owT3RtRGJSNDNIazZENG8vTjhRT0Z3OW1EL2oyYnNIMWtjYkRVSFNFQWhDNG80bEtMeHp2YkZIcjQvbWZ0RHFwUGoxcTRPZ3Bma1VLRDIwWDBFelhXd2VZK2szZHROOEFBU2ZqZVZRMlMvVmpLL0FaclhKT1VxMGpWQTBDdEgzQ3hyZytUV3hjY0FEZ2hWd2ZCYTd6bUhhbUV5bEJuUVJBbmdhT092aU5FWDNBZ3UyNzNCUzBUU1laMVpIWXNiYnI0RVV2U2w2Z25RL25OTlNVMG5oVm9pbkw3M1NiQUtRbUR2cHA2TTZtM0U2Ym0zQVloL1lNbXNKZXZtUVZVa01FN0Zucjc5bHZPTVkrdGQ0UXhnbTdwazZyaGt1VlJLODJpaklOcEo0NWR3VytzVUhOTkxEQW5oY0dmMkhJZkxFdnJiVEczMEduRjlBUjAyeDFRMDhaK0JYRTFqbzhVekVYRkx3T2VRSWs5dUd2dUlYbUlvMWt1Vm8xcjV2OW1ac0dGbitXN0Fwa1FPd0Rva1VNeHdwcnFreUMxeHdwUGJyazRqZ1B6c3lFQlNicDE0SmtibFRSOXVkYVVhUHVwZVA4REhJcXdKM3RRTzVSUG9PUjg9'
res = requests.get(url)
print(res)
print(len(res.json()))
ilan_13 = res.json()
ilan_data = ilan_data + ilan_13
total_data = total_data + ilan_13
print('total = ', len(total_data))
df = pd.DataFrame(total_data)
print(df.shape)
df = df.drop_duplicates()
print(df.shape)

完整code：爬取2017 - 2022台北、新北、宜蘭之房地產交易紀錄
https://colab.research.google.com/drive/1WDcPqxwD83xsHc4Nv4K5a1bWEX-pfhLW?usp=sharing

### 鋼筋水泥指數

資料來源：營造工程物價指數(CCI)計算平台
https://www.stat.gov.tw/CCI/

In [ ]:
# install data from google drive
!gdown --id 1XLghQCBo59g16-KJJmQth7hA96aBDkjV
df1 = df.rename({'e': 'time'}, axis=1)
df2 = pd.read_csv('costPrice.csv')
df2.columns =['time', 'cementIndex', 'RebarIndex']
mergeDf = pd.merge(df1, df2, on='time')
mergeDf

### 利率

資料來源：央行
https://www.cbc.gov.tw/public/data/economic/statistics/key/interest.pdf

In [ ]:
!pip install --upgrade -q gspread
# get data from google sheets
import gspread
import pandas as pd
from google.colab import auth
from oauth2client.client import GoogleCredentials

auth.authenticate_user()
gc = gspread.authorize(GoogleCredentials.get_application_default())

worksheet = gc.open_by_url('https://docs.google.com/spreadsheets/d/1Q4waDYzGDWnrqrRLEkpiLB07n3VjO5dDaczBvg2t01U/edit?usp=sharing').sheet1
rows = worksheet.get_all_values()
df3 = pd.DataFrame.from_records(rows)
new_header = df3.iloc[0] #grab the first row for the header
df3 = df3[1:] #take the data less the header row
df3.columns = new_header #set the header row as the df header
type(df3['time'].apply(str))
mergeDf['time']=mergeDf['time'].astype(int)
df3['time']=df3['time'].astype(int)
mergeDf = pd.merge(mergeDf, df3, on='time')
mergeDf

## 經常性收入與所得收入
* 經常性收入=所得總額=所得收入+自用住宅設算折舊

**臺北市**
* https://statdb.dbas.gov.taipei/pxweb2007-tp/dialog/statfile9.asp
* 重要統計資料庫→依年別查詢→家庭生活→家庭收支主要指標

In [ ]:
!gdown https://drive.google.com/uc?id=15Dy2BgPKt5tJizb9-AwxIqMvad4i6eDk

Downloading...
From: https://drive.google.com/uc?id=15Dy2BgPKt5tJizb9-AwxIqMvad4i6eDk
To: /content/Taipei Income.csv
100% 300/300 [00:00<00:00, 248kB/s]

In [ ]:
df = pd.read_csv("Taipei Income.csv", encoding = "big5")
df = df.drop(index=[0,1,2])
df.columns = ["year", "平均每戶經常性收入", "平均每戶所得收入"]
df

    year 平均每戶經常性收入 平均每戶所得收入
3   103年   1684110  1575819
4   104年   1697894  1581899
5   105年   1688289  1568945
6   106年   1767413  1648122
7   107年   1767002  1649348
8   108年   1839410  1723021
9   109年   1831867  1716591

In [ ]:
for i in df.index:
  for col in df.columns:
    if col == "year":
      df[col][i] = int(df[col][i].strip()[:3])
    else:
      df[col][i] = int(df[col][i])

df = df.set_index("year")
df = df.transpose()
TaipeiIncome = df
TaipeiIncome["county"] = "臺北市"
TaipeiIncome

year           103      104      105      106      107      108      109 county
平均每戶經常性收入  1684110  1697894  1688289  1767413  1767002  1839410  1831867    臺北市
平均每戶所得收入   1575819  1581899  1568945  1648122  1649348  1723021  1716591    臺北市

**新北市**
* https://oas.bas.ntpc.gov.tw/BAS/pxweb/dialog/statfile9_n.asp
* 新北市市政統計→家庭生活→平均每戶家庭全年經常性收入

In [ ]:
!gdown https://drive.google.com/uc?id=1CjouJxbFg3Z7FuD1RXWE_LLXbyTUVSbc

Downloading...
From: https://drive.google.com/uc?id=1CjouJxbFg3Z7FuD1RXWE_LLXbyTUVSbc
To: /content/NTPC Income.csv
100% 445/445 [00:00<00:00, 391kB/s]

In [ ]:
df = pd.read_csv("NTPC Income.csv", encoding = "big5")
df.columns = ["year", "平均每戶經常性收入", "平均每戶所得收入"]
df = df.drop(index=list(range(8,23))).drop(index=0)
df

   year  平均每戶經常性收入   平均每戶所得收入
1  2014  1,211,399  1,146,991
2  2015  1,238,890  1,171,978
3  2016  1,294,607  1,223,867
4  2017  1,337,740  1,265,798
5  2018  1,363,375  1,292,753
6  2019  1,387,812  1,319,841
7  2020  1,426,111  1,352,548

In [ ]:
for i in df.index:
  for col in df.columns:
    if col == "year":
      df[col][i] = int(df[col][i]) - 1911
    else:
      df[col][i] = int(df[col][i].replace(",", ""))

df = df.set_index("year")
NtpcIncome = df.transpose()
NtpcIncome["county"] = "新北市"
NtpcIncome

year         -1808      104      105      106      107      108      109 county
平均每戶經常性收入  1211399  1238890  1294607  1337740  1363375  1387812  1426111    新北市
平均每戶所得收入   1146991  1171978  1223867  1265798  1292753  1319841  1352548    新北市

**宜蘭縣**
* https://ebas1.ebas.gov.tw/pxweb2007P/Dialog/Statfile9Y.asp?strCC=02
* 十四、家庭收支→14.1家庭平均每戶全年經常性收支(102年後)

In [ ]:
!gdown https://drive.google.com/uc?id=1y4x4UabQ6DndD5rjzf0k8YX4EinOoL8Z

Downloading...
From: https://drive.google.com/uc?id=1y4x4UabQ6DndD5rjzf0k8YX4EinOoL8Z
To: /content/Yilan Income.csv
100% 479/479 [00:00<00:00, 960kB/s]

In [ ]:
df = pd.read_csv("Yilan Income.csv", encoding = "big5")
df.columns = ["year", "平均每戶所得收入", "平均每戶經常性收入"]
df = df.drop(index=list(range(9,23))).drop(index=[0,1])
df

   year   平均每戶所得收入  平均每戶經常性收入
2  2014  1 071 335  1 007 390
3  2015  1 160 320  1 224 600
4  2016  1 085 846  1 116 452
5  2017  1 098 807  1 136 844
6  2018  1 069 997  1 103 242
7  2019  1 093 475  1 129 513
8  2020  1 175 248  1 175 248

In [ ]:
for i in df.index:
  for col in df.columns:
    if col == "year":
      df[col][i] = int(df[col][i]) - 1911
    else:
      df[col][i] = int(df[col][i].replace(" ", ""))

df = df.set_index("year")
YilanIncome = df.transpose()
YilanIncome["county"] = "宜蘭縣"
YilanIncome

year           103      104      105      106      107      108      109 county
平均每戶所得收入   1071335  1160320  1085846  1098807  1069997  1093475  1175248    宜蘭縣
平均每戶經常性收入  1007390  1224600  1116452  1136844  1103242  1129513  1175248    宜蘭縣

**整合**

In [ ]:
Income = pd.concat([TaipeiIncome, NtpcIncome, YilanIncome])
Income = Income.reset_index().set_index(["county", "index"])
Income.index.set_names(["county", "income"], inplace = True)
Income = Income.sort_index(level = ["county", "income"], ascending = [False, True])
Income

year                  103      104      105      106      107      108      109
county income
臺北市    平均每戶所得收入   1575819  1581899  1568945  1648122  1649348  1723021  1716591
       平均每戶經常性收入  1684110  1697894  1688289  1767413  1767002  1839410  1831867
新北市    平均每戶所得收入   1146991  1171978  1223867  1265798  1292753  1319841  1352548
       平均每戶經常性收入  1211399  1238890  1294607  1337740  1363375  1387812  1426111
宜蘭縣    平均每戶所得收入   1071335  1160320  1085846  1098807  1069997  1093475  1175248
       平均每戶經常性收入  1007390  1224600  1116452  1136844  1103242  1129513  1175248

In [ ]:
IncomeGrowth = Income[[]]
for i in Income.columns:
  try:
    growth = (Income[i] - Income[i-1])/Income[i-1]
    IncomeGrowth[i] = list(growth)
  except:
    IncomeGrowth[i] = math.nan

IncomeGrowth

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

year              103       104       105  ...       107       108       109
county income                              ...
臺北市    平均每戶所得收入   NaN  0.003858 -0.008189  ...  0.000744  0.044668 -0.003732
       平均每戶經常性收入  NaN  0.008185 -0.005657  ... -0.000233  0.040978 -0.004101
新北市    平均每戶所得收入   NaN  0.021785  0.044275  ...  0.021295  0.020954  0.024781
       平均每戶經常性收入  NaN  0.022694  0.044973  ...  0.019163  0.017924  0.027597
宜蘭縣    平均每戶所得收入   NaN  0.083060 -0.064184  ... -0.026219  0.021942  0.074783
       平均每戶經常性收入  NaN  0.215617 -0.088313  ... -0.029557  0.023813  0.040491

[6 rows x 7 columns]

In [ ]:
IncomeWithGrowth_list = []

for i in Income.columns:
  for j,k in Income.index:
    if k == "平均每戶所得收入":
      d = {}
      d["year"] = i
      d["county"] = j
      d[k] = Income[i][j,k]
      d[k + " Growth"] = IncomeGrowth[i][j,k]
      IncomeWithGrowth_list.append(d)
    else:
      IncomeWithGrowth_list[-1][k] = Income[i][j,k]
      IncomeWithGrowth_list[-1][k + " Growth"] = IncomeGrowth[i][j,k]

IncomeWithGrowth = pd.DataFrame(IncomeWithGrowth_list)
IncomeWithGrowth = IncomeWithGrowth.set_index(["year", "county"])
IncomeWithGrowth

             平均每戶所得收入  平均每戶所得收入 Growth  平均每戶經常性收入  平均每戶經常性收入 Growth
year county
103  臺北市      1575819              NaN    1684110               NaN
     新北市      1146991              NaN    1211399               NaN
     宜蘭縣      1071335              NaN    1007390               NaN
104  臺北市      1581899         0.003858    1697894          0.008185
     新北市      1171978         0.021785    1238890          0.022694
     宜蘭縣      1160320         0.083060    1224600          0.215617
105  臺北市      1568945        -0.008189    1688289         -0.005657
     新北市      1223867         0.044275    1294607          0.044973
     宜蘭縣      1085846        -0.064184    1116452         -0.088313
106  臺北市      1648122         0.050465    1767413          0.046866
     新北市      1265798         0.034261    1337740          0.033317
     宜蘭縣      1098807         0.011936    1136844          0.018265
107  臺北市      1649348         0.000744    1767002         -0.000233
     新北市      1292753         0.021295    1363375          0.019163
     宜蘭縣      1069997        -0.026219    1103242         -0.029557
108  臺北市      1723021         0.044668    1839410          0.040978
     新北市      1319841         0.020954    1387812          0.017924
     宜蘭縣      1093475         0.021942    1129513          0.023813
109  臺北市      1716591        -0.003732    1831867         -0.004101
     新北市      1352548         0.024781    1426111          0.027597
     宜蘭縣      1175248         0.074783    1175248          0.040491

In [ ]:
Income.to_csv("三縣市平均每戶經常性收入與所得收入.csv")
IncomeGrowth.to_csv("三縣市平均每戶經常性收入與所得收入之成長率.csv")
IncomeWithGrowth.to_csv("三縣市平均每戶經常性收入與所得收入及其成長率.csv")

### Combine with Regional Income Data

In [ ]:
#load data from google sheets
!gdown --id 1Ua_GHNWHVNJ1uQZDMeKqmMn1zsbC3Hai

Downloading...
From: https://drive.google.com/uc?id=1LIPR_lbY5Xy0ckWVB98ZFkP05TFF_2Ul
To: /content/housePriceData.csv
100% 94.3M/94.3M [00:01<00:00, 93.2MB/s]
Downloading...
From: https://drive.google.com/uc?id=1Ua_GHNWHVNJ1uQZDMeKqmMn1zsbC3Hai
To: /content/incomePerMonthPerTaiwanese.csv
100% 1.87k/1.87k [00:00<00:00, 4.23MB/s]

In [ ]:
df4 = pd.read_csv('incomePerMonthPerTaiwanese.csv')
df4['time']=df4['time'].astype(int)
mergeDf = pd.merge(mergeDf, df4, on='time')
mergeDf

## 資料處理

### 轉換columns成英文

In [ ]:
mergeDf = mergeDf.rename(columns={'AA11':'DistrictType', 'a':'Adress', 'b':'HouseType',      # /什麼區 ex:工業區/地址/房屋種類 ex:華廈
          'bs':'BasePercent', 'city':'city', 'time':'time', 'el':'elevator',    # /總面積比/././有無電梯
          'f':'floor', 'g':'age', 'j':'ground', 'k':'building', 'l':'park',   # floor:總共幾層露/位於幾樓/土地/建物/車位'
           'lat':'lat', 'lon':'lon', 'm':'management', 'p':'pricePerP', 'r':'r', # /././有無管理組織/每坪平均價格/我也不知道是什麼
           's':'area', 'tp':'totalPrice', 'twn':'district', 'type':'type', 'unit':'unit', #總坪數/總價格/行政區代號/其他我也看不懂
           'v':'v', 'year':'year'})

mergeDf

### 轉換類別資料成英文

In [ ]:
data110['HouseType'] = data110['HouseType'].astype('category')
data110['HouseType'] = data110['HouseType'].cat.rename_categories({'倉庫':'Storage', '住宅大樓(11層含以上有電梯)': 'Penthouse', '公寓(5樓含以下無電梯)': 'Apartment(<5 no el)', '其他': 'others', '套房(1房(1廳)1衛)': 'studio', '工廠': 'factory', '店面（店舖)': 'store', '廠辦': 'factory store', '華廈(10層含以下有電梯)': 'Apartment(<10)', '辦公商業大樓': 'commercial building', '農舍': 'farmhouse', '透天厝': 'house'})
data110

### 轉換民國時間成pandas data time

In [ ]:
data110['time'] = data110['time'] + 191100
data110['time'] = pd.to_datetime(data110['time'], format='%Y%m')
data110['pricePerP'] = data110['pricePerP'].replace('[,]', '', regex=True).astype(float)

data110

## 資料視覺化

完整code：台北、新北、宜蘭之資料視覺化
https://colab.research.google.com/drive/19j0Mo8qUjFeZsW0GZg1e4AC62PgiTZiO?usp=sharing

### 宜蘭 散布圖

In [ ]:
ilan = data110[data110['city'] == 'G']
ilan.plot(kind='scatter', title='Ilan House Price', x='time',y='pricePerP')
plt.show()

### 宜蘭住宅大樓(Penthouse)

In [ ]:
ilanPenthouse = ilan[ilan['HouseType'] == 'Penthouse']
ilanPenthouse
ilanPenthouse.plot(kind='scatter',x='time',y='pricePerP')

### 宜蘭 住宅大樓 有電梯 有管理組織

In [ ]:
ilanPenthouse = ilanPenthouse[ilanPenthouse['elevator'] == '有']
ilanPenthouse = ilanPenthouse[ilanPenthouse['management'] == '有']
ilanPenthouse
ilanPenthouse.plot(kind='scatter', title='Ilan Penthouse with elecator and management',x='time',y='pricePerP')

## 迴歸分析

In [ ]:
for type_ in ["住宅大樓(11層含以上有電梯)", "公寓(5樓含以下無電梯)", "華廈(10層含以下有電梯)", "透天厝"]:
  Data = data[data["city"] == "G"]
  Data = Data[Data["HouseType"] == type_]
  Data = Data[["district", "volumn_district", "cementIndex", "monthDepositRate", "TWRegularPerMonth", "Covid", "time", "elevator", "management"]]

  for i in Data.index:
    if Data["time"][i] < "2020-01-01":
      Data = Data.drop(index=i)

  formulaStr = "volumn_district~district*Covid+cementIndex+monthDepositRate+TWRegularPerMonth+elevator+management"

  result = sm.ols(formula=formulaStr, data = Data).fit()
  print(type_)
  print(result.summary())
  print("-"*100)

住宅大樓(11層含以上有電梯)
                            OLS Regression Results
==============================================================================
Dep. Variable:        volumn_district   R-squared:                       0.446
Model:                            OLS   Adj. R-squared:                  0.443
Method:                 Least Squares   F-statistic:                     124.3
Date:                Thu, 06 Jan 2022   Prob (F-statistic):          7.04e-302
Time:                        14:55:18   Log-Likelihood:                -8244.0
No. Observations:                2483   AIC:                         1.652e+04
Df Residuals:                    2466   BIC:                         1.662e+04
Df Model:                          16
Covariance Type:            nonrobust
==============================================================================================
                                 coef    std err          t      P>|t|      [0.025      0.975]
----------------------------------------------------------------------------------------------
Intercept                     70.8378     10.551      6.714      0.000      50.147      91.528
district[T.G02]               -9.8042      0.567    -17.278      0.000     -10.917      -8.692
district[T.G03]                0.9969      0.405      2.464      0.014       0.204       1.790
district[T.G06]               -6.6925      0.425    -15.732      0.000      -7.527      -5.858
district[T.G07]               -8.6880      0.516    -16.848      0.000      -9.699      -7.677
district[T.G09]              -13.3676      1.305    -10.241      0.000     -15.927     -10.808
Covid[T.1]                   -10.3002      1.022    -10.080      0.000     -12.304      -8.296
elevator[T.無]                 -4.6890      0.477     -9.827      0.000      -5.625      -3.753
management[T.無]               -0.1269      0.540     -0.235      0.814      -1.185       0.931
district[T.G02]:Covid[T.1]    16.6384      1.129     14.743      0.000      14.425      18.851
district[T.G03]:Covid[T.1]     6.8318      1.016      6.722      0.000       4.839       8.825
district[T.G06]:Covid[T.1]     1.7965      1.235      1.455      0.146      -0.625       4.218
district[T.G07]:Covid[T.1]    -0.1299      1.422     -0.091      0.927      -2.919       2.659
district[T.G09]:Covid[T.1]    -0.5788      4.172     -0.139      0.890      -8.759       7.601
cementIndex                    0.1506      0.017      8.694      0.000       0.117       0.185
monthDepositRate             -16.5847      2.560     -6.478      0.000     -21.605     -11.564
TWRegularPerMonth             -0.0014      0.000     -5.704      0.000      -0.002      -0.001
==============================================================================
Omnibus:                      228.294   Durbin-Watson:                   0.189
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              345.473
Skew:                           0.695   Prob(JB):                     9.58e-76
Kurtosis:                       4.186   Cond. No.                     3.33e+06
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 3.33e+06. This might indicate that there are
strong multicollinearity or other numerical problems.
----------------------------------------------------------------------------------------------------
公寓(5樓含以下無電梯)
                            OLS Regression Results
==============================================================================
Dep. Variable:        volumn_district   R-squared:                       0.442
Model:                            OLS   Adj. R-squared:                  0.433
Method:                 Least Squares   F-statistic:                     48.46
Date:                Thu, 06 Jan 2022   Prob (F-statistic):          9.03e-160
Time:                        14:55:18   Log-Likelihood:                -3410.4
No. Observations:                1429   AIC:                             6869.
Df Residuals:                    1405   BIC:                             6995.
Df Model:                          23
Covariance Type:            nonrobust
==============================================================================================
                                 coef    std err          t      P>|t|      [0.025      0.975]
----------------------------------------------------------------------------------------------
Intercept                      6.7214      4.664      1.441      0.150      -2.427      15.870
district[T.G02]               -6.3145      0.724     -8.720      0.000      -7.735      -4.894
district[T.G03]               -4.1565      0.282    -14.763      0.000      -4.709      -3.604
district[T.G04]               -2.5519      0.405     -6.307      0.000      -3.346      -1.758
district[T.G05]               -6.3003      0.513    -12.276      0.000      -7.307      -5.294
district[T.G06]                0.3843      0.201      1.916      0.056      -0.009       0.778
district[T.G07]               -4.9008      0.313    -15.642      0.000      -5.515      -4.286
district[T.G08]               -3.3441      0.255    -13.117      0.000      -3.844      -2.844
district[T.G09]               -5.1714      0.314    -16.462      0.000      -5.788      -4.555
district[T.G10]               -6.6147      0.598    -11.068      0.000      -7.787      -5.442
Covid[T.1]                    -0.7889      0.560     -1.408      0.159      -1.888       0.310
management[T.無]               -0.5759      0.265     -2.174      0.030      -1.095      -0.056
district[T.G02]:Covid[T.1]    -0.0455      2.055     -0.022      0.982      -4.077       3.986
district[T.G03]:Covid[T.1]    -0.9621      1.019     -0.944      0.345      -2.961       1.037
district[T.G04]:Covid[T.1]    -3.0495      1.327     -2.297      0.022      -5.653      -0.446
district[T.G05]:Covid[T.1]     0.4013      1.484      0.270      0.787      -2.510       3.313
district[T.G06]:Covid[T.1]    -1.0015      0.644     -1.556      0.120      -2.264       0.261
district[T.G07]:Covid[T.1]     1.4966      0.794      1.886      0.060      -0.060       3.053
district[T.G08]:Covid[T.1]     1.3005      0.697      1.866      0.062      -0.067       2.668
district[T.G09]:Covid[T.1]    -0.7217      1.427     -0.506      0.613      -3.522       2.078
district[T.G10]:Covid[T.1]     0.2660      2.016      0.132      0.895      -3.688       4.220
cementIndex                    0.0104      0.009      1.165      0.244      -0.007       0.028
monthDepositRate               0.1523      0.999      0.152      0.879      -1.808       2.113
TWRegularPerMonth           1.062e-05      0.000      0.096      0.923      -0.000       0.000
==============================================================================
Omnibus:                      153.358   Durbin-Watson:                   0.331
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              259.259
Skew:                           0.730   Prob(JB):                     5.04e-57
Kurtosis:                       4.491   Cond. No.                     2.80e+06
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 2.8e+06. This might indicate that there are
strong multicollinearity or other numerical problems.
----------------------------------------------------------------------------------------------------
華廈(10層含以下有電梯)
                            OLS Regression Results
==============================================================================
Dep. Variable:        volumn_district   R-squared:                       0.626
Model:                            OLS   Adj. R-squared:                  0.624
Method:                 Least Squares   F-statistic:                     304.4
Date:                Thu, 06 Jan 2022   Prob (F-statistic):               0.00
Time:                        14:55:18   Log-Likelihood:                -15083.
No. Observations:                4392   AIC:                         3.022e+04
Df Residuals:                    4367   BIC:                         3.037e+04
Df Model:                          24
Covariance Type:            nonrobust
==============================================================================================
                                 coef    std err          t      P>|t|      [0.025      0.975]
----------------------------------------------------------------------------------------------
Intercept                     -7.3642      8.317     -0.885      0.376     -23.669       8.941
district[T.G02]              -25.7186      0.636    -40.416      0.000     -26.966     -24.471
district[T.G03]              -18.1780      0.425    -42.812      0.000     -19.010     -17.346
district[T.G04]              -21.3867      0.973    -21.988      0.000     -23.294     -19.480
district[T.G05]              -25.3049      0.746    -33.914      0.000     -26.768     -23.842
district[T.G06]               -8.3277      0.322    -25.859      0.000      -8.959      -7.696
district[T.G07]              -18.6811      0.433    -43.165      0.000     -19.530     -17.833
district[T.G08]              -19.4093      0.598    -32.473      0.000     -20.581     -18.238
district[T.G09]              -25.3232      0.665    -38.106      0.000     -26.626     -24.020
district[T.G10]              -30.6845      2.855    -10.749      0.000     -36.281     -25.088
Covid[T.1]                    -9.5630      0.841    -11.365      0.000     -11.213      -7.913
elevator[T.無]                 -3.5008      0.404     -8.665      0.000      -4.293      -2.709
management[T.無]               -0.1385      0.259     -0.534      0.593      -0.647       0.370
district[T.G02]:Covid[T.1]     8.0770      1.381      5.850      0.000       5.370      10.784
district[T.G03]:Covid[T.1]    11.0728      1.042     10.626      0.000       9.030      13.116
district[T.G04]:Covid[T.1]    -4.5309      5.442     -0.833      0.405     -15.200       6.139
district[T.G05]:Covid[T.1]     0.3653      3.219      0.113      0.910      -5.946       6.676
district[T.G06]:Covid[T.1]     2.5983      0.993      2.615      0.009       0.651       4.546
district[T.G07]:Covid[T.1]    -0.0331      1.327     -0.025      0.980      -2.635       2.569
district[T.G08]:Covid[T.1]    39.0075      1.269     30.749      0.000      36.520      41.495
district[T.G09]:Covid[T.1]     7.7899      1.478      5.271      0.000       4.892      10.687
district[T.G10]:Covid[T.1]     4.9120      6.069      0.809      0.418      -6.987      16.811
cementIndex                    0.0535      0.014      3.753      0.000       0.026       0.082
monthDepositRate              -6.0783      1.797     -3.382      0.001      -9.602      -2.554
TWRegularPerMonth              0.0009      0.000      4.461      0.000       0.000       0.001
==============================================================================
Omnibus:                      328.990   Durbin-Watson:                   0.193
Prob(Omnibus):                  0.000   Jarque-Bera (JB):             1637.721
Skew:                           0.154   Prob(JB):                         0.00
Kurtosis:                       5.976   Cond. No.                     3.09e+06
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 3.09e+06. This might indicate that there are
strong multicollinearity or other numerical problems.
----------------------------------------------------------------------------------------------------
透天厝
                            OLS Regression Results
==============================================================================
Dep. Variable:        volumn_district   R-squared:                       0.575
Model:                            OLS   Adj. R-squared:                  0.574
Method:                 Least Squares   F-statistic:                     574.8
Date:                Thu, 06 Jan 2022   Prob (F-statistic):               0.00
Time:                        14:55:18   Log-Likelihood:                -42641.
No. Observations:               11523   AIC:                         8.534e+04
Df Residuals:                   11495   BIC:                         8.554e+04
Df Model:                          27
Covariance Type:            nonrobust
==============================================================================================
                                 coef    std err          t      P>|t|      [0.025      0.975]
----------------------------------------------------------------------------------------------
Intercept                     28.2784      6.079      4.652      0.000      16.363      40.194
district[T.G02]              -33.6821      0.538    -62.566      0.000     -34.737     -32.627
district[T.G03]              -29.4405      0.446    -65.953      0.000     -30.315     -28.565
district[T.G04]              -25.1683      0.406    -62.032      0.000     -25.964     -24.373
district[T.G05]              -24.3160      0.414    -58.682      0.000     -25.128     -23.504
district[T.G06]              -23.2237      0.385    -60.252      0.000     -23.979     -22.468
district[T.G07]              -15.3084      0.342    -44.707      0.000     -15.980     -14.637
district[T.G08]               -5.2393      0.323    -16.204      0.000      -5.873      -4.605
district[T.G09]              -22.2213      0.381    -58.399      0.000     -22.967     -21.475
district[T.G10]              -28.3765      0.430    -65.965      0.000     -29.220     -27.533
district[T.G11]              -42.4850      4.391     -9.675      0.000     -51.093     -33.877
district[T.G12]              -41.4381      5.665     -7.315      0.000     -52.542     -30.334
Covid[T.1]                     2.9151      0.797      3.657      0.000       1.353       4.478
elevator[T.無]                 -1.1008      0.469     -2.346      0.019      -2.021      -0.181
management[T.無]               -0.9163      0.538     -1.703      0.089      -1.971       0.139
district[T.G02]:Covid[T.1]    -2.7753      1.809     -1.535      0.125      -6.320       0.770
district[T.G03]:Covid[T.1]     2.7982      1.294      2.163      0.031       0.262       5.334
district[T.G04]:Covid[T.1]    -4.2618      1.312     -3.248      0.001      -6.834      -1.690
district[T.G05]:Covid[T.1]     1.1014      1.173      0.939      0.348      -1.198       3.400
district[T.G06]:Covid[T.1]     0.5252      1.144      0.459      0.646      -1.716       2.767
district[T.G07]:Covid[T.1]    -5.6964      1.111     -5.128      0.000      -7.874      -3.519
district[T.G08]:Covid[T.1]    -2.2409      0.968     -2.314      0.021      -4.139      -0.343
district[T.G09]:Covid[T.1]    -5.9232      1.283     -4.615      0.000      -8.439      -3.408
district[T.G10]:Covid[T.1]    -3.1598      1.393     -2.269      0.023      -5.890      -0.430
district[T.G11]:Covid[T.1] -8.136e-14   9.17e-15     -8.873      0.000   -9.93e-14   -6.34e-14
district[T.G12]:Covid[T.1]    -1.5506      8.974     -0.173      0.863     -19.142      16.040
cementIndex                   -0.1244      0.012    -10.784      0.000      -0.147      -0.102
monthDepositRate              -8.8520      1.279     -6.921      0.000     -11.359      -6.345
TWRegularPerMonth              0.0008      0.000      5.840      0.000       0.001       0.001
==============================================================================
Omnibus:                     4542.002   Durbin-Watson:                   0.057
Prob(Omnibus):                  0.000   Jarque-Bera (JB):            31587.367
Skew:                           1.733   Prob(JB):                         0.00
Kurtosis:                      10.333   Cond. No.                     1.00e+16
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The smallest eigenvalue is  2e-19. This might indicate that there are
strong multicollinearity problems or that the design matrix is singular.
----------------------------------------------------------------------------------------------------